.product-card {
    min-width: 200px;
    min-height: 150px;
    padding: 1.5rem 2rem;
}

.product-card__box {
    border: 1px solid red;
    padding: 1rem;
    position: relative;
}

.product-card__img {
    position: relative;
    width: 100%;
}

.product-card__img .img {
    position: relative;
    width: 100%;
    height: auto;
    left: 0%;
}

.product-card__img .btn {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 100%;
    background: none;
    border: none;
    padding: 0.5rem;
    background-color: tomato;
    color: aliceblue;
}
