.product-card {
    min-width: 200px;
    min-height: 150px;
    padding: 1.5rem 2rem;
}

.product-card > a {
    text-decoration: none;
}

.product-card__box {
    border:1px solid tomato;
    padding: 1rem;
    position: relative;
    transition: box-shadow 100ms ease-in;
}


.product-card__title {
    color: black;
}

.product-card__box:hover {
    box-shadow: 1px 1px 5px #0000006e;
}

.product-card__img {
    position: relative;
    width: 100%;
}

.product-card__img .img {
    position: relative;
    max-width: 80%;
    height: auto;
    left: 0%;
}

.product-card__img .btn {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 100%;
    background: none;
    border: none;
    padding: 0.5rem;
    background-color: tomato;
    color: aliceblue;
    cursor: pointer;
    transition: padding 200ms;
}

.product-card__img .btn:hover {
    padding: 0.6rem;
}
