.header {
    background-color: rgba(128, 128, 128, 0.548);
    min-height: 100px;
    display: flex;
    justify-content: space-around;
}

.header-navbar {

}

.header-navbar__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.header-navbar__list-item {
    color: wheat;
}